@{ ViewBag.Title = "Files"; }
<form action="/Home/Files">
    Path: <input type="text"
                 name="path" />
    <input type="submit" />
</form>
<h2>
    Listing files in
    @ViewBag.Path
</h2>
@model List<string>
@foreach (var file in Model)
{ <div>@file</div> }



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
