@{ ViewBag.Title = "Files"; }
<h2>Listing files in C:\</h2>
@model List<string>
@foreach (var file in Model)
{
    <div>
        @file
    </div>
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
