@{ ViewBag.Title = "Nums 1 … 50"; }
<h2>@ViewBag.Title</h2>
<ul>
    @for (int i = 1; i <= 50; i++)
    {
        <li>@i</li>
    }
</ul>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
